name: Laravel

on:
  push:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.2'
    - uses: actions/checkout@v3
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: display PWD
      run: pwd
    - name: display ls
      run: ls -la
    - name: Install Dependencies
      run: composer install --prefer-dist --no-ansi --no-interaction --no-progress --optimize-autoloader
    - name: Run Docker Sail
      run: ./vendor/bin/sail up -d
    - name: Generate keys
      run:
        php artisan key:generate \
        && php artisan config:clear \
        && php artisan jwt:secret
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: Migrate Database
      run: docker compose exec laravel.test php artisan migrate:fresh --seed --force
    - name: Run Tests
      run: docker compose exec laravel.test php artisan test
